#game {
    padding: 30px;
    margin: 0 auto;
    text-align: center;
}

#words-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

body {
    font-family: 'Arial', sans-serif; /* Use your chosen font-family here */
    
}

#ransomizer {
    font-size:3em;
    line-height: normal;
    word-spacing:0.5em;
  }
  
  #ransomizer div {
    display:inline-block;
  }
  
  #ransomizer .rww {
    white-space: pre;
    display:inline;
    margin-left: .2em;
    margin-right: .2em;
  }
  
  #ransomizer .rr {
    -ms-transform: rotate(1.5deg);
    -webkit-transform: rotate(1.5deg);
    transform: rotate(1.5deg);
  }
  
  #ransomizer .rl {
    -ms-transform: rotate(-1.5deg);
    -webkit-transform: rotate(-1.5deg);
    transform: rotate(-1.5deg);
  }

.intro {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    text-align: center; /* Center the heading */
    color: #dd1313; /* Set the color of the heading */
    margin-bottom: 20px;
    font-size: 30px;
}

.instructions {
    text-align: left; /* Align bullet points to the left */
    margin-bottom: 20px;
}

.word {
    width: calc(25% - 10px); /* for making a group of 4 tiles */ 
    height: 50px;
    margin-bottom: 20px;
    background-color: #f2ebeb;
    border: 1px solid #ccc;
    border-radius: 10px; /* for rounded corners to the tiles */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* for shadow */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* transition for hover effect */
    overflow: hidden; /* Ensures that the content inside the tile doesn't overflow */
    white-space: nowrap; /* Prevents wrapping of text */
    word-wrap: break-word;
    font-size: 13px;
}
@media (max-width: 768px) {
    .word {
        width: calc(25% - 10px); /* Adjusted width for 4 tiles per row with reduced padding */
        margin-bottom: 20px; /* Reduced margin for tighter spacing between tiles */
    }
}

/* Adjust font size for larger keywords */
.word.large {
    font-size: 9px; /* Reduced font size for larger keywords */
}

#identified-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.group-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.lives-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 50px;
    width: 140px;
}
.lives-container i {
    font-size: 25px; /* Adjust size as needed */
    color: #dd1313; /* Adjust color as needed */
    margin-right: 8px; /* Adjust margin between icons */

}

#result {
    margin-bottom: 20px;
}

button {
    background-color: #dd1313; /* Set button background color */
    color: #fff; /* Set button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add transition for smoother hover effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    font-size: 16px; /* Set font size */
}

button:hover {
    background-color: #c32708; /* Change button color on hover */
}

#about {
    width: 80%;
    margin: 0 auto; 
    text-align: center;
  }
